<!DOCTYPE html>
<html>
<head>
<!-- Metadata -->
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style='font-family: "Helvetica Neue", "Helvetica", sans-serif;font-weight: 300;letter-spacing: 0.65px;line-height: 150%'>
<p><%= @name %> sent this message to you from Tara Crammer Designs:</p>
<p style='font-family: "Georgia", serif;font-style: italic;letter-spacing: 0.35px'>"<%= @message %>"</p>
<p><%= @name %>'s email address is '<%= @address %>'.</p>
</body>
</html>