/*  contact.css.scss
    July 2015
    Tara Crammer Designs
    Alexander Rhett Crammer  */
/* Structure */
/* line 8, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/contact.css.scss */
body {
  background-image: url(/assets/ContactPageBackground.png);
}

/* line 12, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/contact.css.scss */
.container {
  margin: 0 auto;
  width: 80%;
}

/* Title */
/* line 18, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/contact.css.scss */
h1 span {
  letter-spacing: 0px;
}

/* Form */
/* line 23, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/contact.css.scss */
input, textarea {
  background-color: transparent;
  border: 0;
  color: #484747;
  font-family: "Daniel";
  outline: none;
}

/* line 31, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/contact.css.scss */
input[type="text"] {
  border-bottom: 3px solid #484747;
  font-size: 20pt;
  font-weight: 700;
  margin: 0 2.75%;
  padding: 0.25% 1.5%;
}

/* line 39, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/contact.css.scss */
textarea {
  font-family: "Daniel";
  font-size: 2em;
  font-weight: 700;
  height: 350px;
  resize: none;
  margin: 10% 5%;
  width: 90%;
}

/* line 49, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/contact.css.scss */
input[type="submit"] {
  cursor: pointer;
  display: block;
  font-size: 2em;
  margin: auto;
  text-align: center;
}

/* line 57, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/contact.css.scss */
input[type="submit"]:hover, input[type="submit"]:active {
  font-style: italic;
  text-decoration: underline;
}

/* Methods of Contact */
/* line 63, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/contact.css.scss */
.methods-of-contact {
  display: inline-block;
  margin: 7.5% 0;
}

/* line 68, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/contact.css.scss */
.method-of-contact {
  float: left;
  margin: 6.5% 5%;
  width: 40%;
}

/* line 74, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/contact.css.scss */
.method-of-contact img {
  float: left;
  vertical-align: middle;
  width: 25%;
}

/* line 80, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/contact.css.scss */
.method-of-contact p {
  float: left;
  font-family: "Courier", monospace;
  font-size: 0.875em;
  line-height: 175%;
  padding: 7.5% 0 0 10%;
  width: 50%;
}

/* line 89, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/contact.css.scss */
.method-of-contact:first-of-type p {
  padding: 2.5% 0 0 10%;
}
