/*  manage.css.scss
    July 2015
    Tara Crammer Designs
    Alexander Rhett Crammer  */
/* Structure */
/* line 12, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
body {
  background: url(/assets/ManageBackground.jpg) no-repeat fixed center center;
  background-size: cover;
}

/* line 17, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.column {
  float: left;
  margin: 2.5%;
  width: 45%;
}

/* Backgrounds */
/* line 24, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.delete-page {
  background-image: url(/assets/WatercolourSplash4.jpg);
}

/* Create View */
/* line 29, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
input, textarea {
  background-color: transparent;
  border: 0;
  color: #383838;
  resize: none;
  text-align: center;
}

/* line 37, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.post-title {
  width: 100% !important;
}

/* line 41, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.post-tags {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.35px;
  padding: 2.5% 0;
  text-align: left;
  text-indent: 6.5%;
  width: 100%;
}

/* line 51, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.post-image-title {
  color: #3c3c3c;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  padding: 5% 0;
  text-align: left;
}

/* line 58, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.white-background {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 62, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.shoo-message {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 2em;
  margin-top: 15%;
  text-align: center;
}

/* line 69, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.red-border {
  border: 3px solid rgba(255, 0, 0, 0.5);
  width: 99% !important;
}

/* Content */
/* line 75, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
p {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  text-align: center;
}

/* Sign-in Form */
/* line 82, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.sign-in-form h4 {
  color: #DD10B2;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1.25em;
  letter-spacing: 0.5px;
  text-align: center;
}

/* line 90, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.sign-in-form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 10%;
  z-index: 1;
}

/* line 100, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.sign-in-form input:not([type="submit"]) {
  background-color: rgba(245, 245, 245, 0.75);
  border: 2px solid #D7D7D7;
  border-radius: 7.5px;
  display: block;
  font-family: "Georgia", serif;
  font-size: 1em;
  font-style: italic;
  letter-spacing: 0.75px;
  margin: 5% auto;
  padding: 2.25% 5%;
}

/* line 113, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.sign-in-form input[type="password"] {
  letter-spacing: 7.5px;
}

/* line 117, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.btn-pink {
  border-color: #EC81D6 !important;
  display: block !important;
  padding: 2% 5% !important;
  margin: auto !important;
}

/* line 124, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.btn-pink:hover {
  background-color: #F9A5E7 !important;
  border-color: #EC81D6 !important;
}

/* line 129, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.btn-pink:active {
  background-color: #993885 !important;
  border-color: #A84393 !important;
}

/* Post Login */
/* line 135, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.manage-home-container {
  margin-top: 10%;
  text-align: center;
}

/* line 140, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.manage-home-container a {
  text-decoration: none;
}

/* line 144, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.manage-home-container .btn-pink {
  height: 75px;
  margin: 2.5% auto !important;
  width: 275px !important;
}

/* Deletion Table */
/* line 151, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
table {
  width: 100%;
}

/* line 155, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
table tr:first-of-type {
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 159, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
table tr {
  background-color: rgba(255, 255, 255, 0.95);
  border: 3px solid #e0e0e0;
}

/* line 164, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
table td {
  width: 10px;
}

/* line 168, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
table td {
  border: 2px solid rgba(224, 224, 224, 0.75);
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  padding: 15px;
  line-height: 150%;
  text-align: center;
  vertical-align: middle;
  width: 10%;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  /* 768px and thinner */
  /* Manage Buttons */
  /* line 184, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
  .manage-home-container {
    margin-top: 40%;
  }

  /* Page Titles */
  /* line 189, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
  h1 {
    font-size: 3.5em;
    position: absolute;
    top: 5%;
  }

  /* Content */
  /* line 196, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
  .container, footer {
    position: relative;
    top: 125px;
  }

  /* Form */
  /* line 202, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
  .column {
    float: left;
    margin: 5% auto;
    width: 100%;
  }

  /* Footer */
  /* line 209, /var/www/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
  footer {
    margin-top: 5%;
  }
}
