/*  manage.css.scss
    July 2015
    Tara Crammer Designs
    Alexander Rhett Crammer  */
/* Structure */
/* line 12, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
body {
  background: url(/assets/ManageBackground.jpg) no-repeat fixed center center;
  background-size: cover;
}

/* Create View */
/* line 18, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
input, textarea {
  background-color: transparent;
  border: 0;
  color: #383838;
  resize: none;
  text-align: center;
}

/* line 26, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/manage.css.scss */
.post-tags {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1em;
  letter-spacing: 0.35px;
  padding: 2.5%;
}
