/* Structure */
/* line 7, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
body {
  background: url(/assets/PortfolioMainBackground.jpg) no-repeat fixed center center;
  background-size: cover;
}

/* Content */
/* line 13, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
h1 {
  color: #262626;
  font-family: "Jaapokki";
  font-size: 9em;
  margin: 2.5% 5%;
  text-transform: uppercase;
}

/* line 21, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
h1 span {
  letter-spacing: -0.125em;
  /* Pull the o closer to the w. */
}

/* News */
/* line 26, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
section.post {
  border: 0;
  margin: 10% auto;
  overflow: hidden;
  width: 85%;
}

/* line 33, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
section.post:first-of-type {
  margin-top: 10%;
}

/* line 37, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
section.post:last-of-type {
  margin-bottom: 15%;
}

/* line 41, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
.post .left {
  float: left;
  margin-top: 2.5%;
  width: 46.5%;
}

/* line 47, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
.post .right {
  float: right;
  text-align: center;
  width: 46.5%;
}

/* line 53, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
.post header {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1.75em;
  font-weight: 500;
  margin-top: -5%;
  margin-left: 25%;
  margin-bottom: 2.25%;
  letter-spacing: 0.25px;
  line-height: 125%;
  text-align: right;
  width: 75%;
}

/* line 66, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
.post:nth-of-type(2n+0) header {
  margin-left: 0;
  margin-right: 25%;
}

/* line 71, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
.post:nth-of-type(1n+0) header, .post:nth-of-type(1n+0) a {
  color: #fe0e4f !important;
}

/* line 75, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
.post:nth-of-type(2n+0) header, .post:nth-of-type(2n+0) a {
  color: #6fce8a !important;
}

/* line 79, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
.post:nth-of-type(3n+0) header, .post:nth-of-type(3n+0) a {
  color: #47b0d3 !important;
}

/* line 83, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
.post p {
  color: #646464;
  float: right;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 175%;
  margin: 0;
  text-align: right;
  text-transform: none;
  width: 75%;
}

/* line 96, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
.post a {
  color: inherit;
  display: block;
  float: right;
  font-family: "Arial", sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin: 5% auto;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

/* line 111, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
.post a span {
  font-family: "Georgia", serif;
  vertical-align: 10%;
}

/* line 116, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
.post img {
  border: 5px solid #fff;
  width: 75%;
}

/* Opposite Orientation */
/* line 122, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
.post:nth-of-type(2n+0) .left {
  float: right;
}

/* line 126, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
.post:nth-of-type(2n+0) .left * {
  float: left;
  text-align: left;
}

/* line 131, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
.post:nth-of-type(2n+0) .left span {
  float: none;
}

/* line 135, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
.post:nth-of-type(2n+0) .right {
  float: left;
  text-align: center;
}

/* Footer */
/* line 141, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
footer img {
  margin-top: 6.5%;
}

/* line 145, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
footer p {
  color: #fff;
  font-family: "Georgia", serif;
  font-size: 1.15em;
  font-style: italic;
  letter-spacing: 0.5px;
  margin: 5% auto;
  text-transform: none;
}

/* line 155, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
footer p:last-of-type {
  font-size: 1em;
  margin: 2.5% auto;
}

/* line 160, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
footer span {
  margin: auto 0.15%;
}

/* line 164, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
img[alt="Heart.png"] {
  width: 20px;
  vertical-align: -10%;
}

/* line 169, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
footer img[alt="HoA-Logo.png"] {
  margin: 0;
}

/* Social Media Links */
/* line 174, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
.social-links li {
  display: inline;
  margin: auto 1%;
}

/* line 179, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/my_work.css.scss */
.social-links a:link, .social-links a:visited, .social-links a:visited, .social-links a:hover {
  text-decoration: none;
}
