/*  posts.css.scss
    July 2015
    Tara Crammer Designs
    Alexander Rhett Crammer  */
/* Structure */
/* line 12, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/posts.css.scss */
body {
  background: url(/assets/WatercolourSplash3.jpg) no-repeat fixed center center;
  background-size: cover;
}

/* line 17, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/posts.css.scss */
.container {
  text-align: center;
  width: 80%;
}

/* Content */
/* line 24, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/posts.css.scss */
h4 {
  font-family: "Jaapokki", sans-serif;
  font-size: 3em;
  line-height: 150%;
  margin: 2.5% auto;
  text-transform: uppercase;
  width: 75%;
}

/* line 33, /Users/alexander/Sites/Tara-Crammer-Designs/app/assets/stylesheets/posts.css.scss */
p {
  color: #5a5a5a;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1.35em;
  letter-spacing: 0.25px;
  line-height: 175%;
  margin: 2.5% auto;
  width: 85%;
}
