<% content_for :title, "Tara Crammer Designs / 422" %>
<div class="container">
  <header>???</header>
  <p class="comment">It seems we have reached an impasse.</p>
  <a href="/">Take me Home</a>
</div> <!-- .container -->