<% content_for :head do %>
  <%= stylesheet_link_tag "navigation_bar.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "navigation_bar.js", media: "all", "data-turbolinks-track" => true %>
<% end %>
<nav>
  <ul>
    <li><a href="/Manage">Manage</a></li>
    <li><a href="/Manage/Create">Create</a></li>
    <li><a href="/Manage/Delete">Delete</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/Manage/Logout">Logout</a></li>
  </ul>
</nav>
<button id="pancakes"><span></span><span></span><span></span></button>
