<% content_for :head do %>
  <%= stylesheet_link_tag "navigation_bar.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "navigation_bar.js", media: "all", "data-turbolinks-track" => true %>
<% end %>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/Portfolio">My Work</a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/">Facebook</a></li>
    <li><a href="/">Pinterest</a></li>
    <li><a href="/">LinkedIn</a></li>
  </ul>
</nav>
<button class="pancake-button">
  <span class="pancakes">
</button>
