<% content_for :head do %>
  <%= stylesheet_link_tag "NavigationBar", media: "all", "data-turbolinks-track" => true %>
<% end %>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/Portfolio">My Work</a></li>
    <li><a href="/">Contact</a></li>
    <li><a href="/">Facebook</a></li>
    <li><a href="/">Pinterest</a></li>
    <li><a href="/">LinkedIn</a></li>
  </ul>
</nav>