<%= render "partials/navigation_bar" %>
<section id="greeting-tron">
  <div class="container">
    <h4>Hi! I'm <span>Tara</span>.</h4>
    <p>I enjoy planning special events and weddings as well as designing interior spaces.</p>
    <a href="Portfolio">
      <button class="btn teal hvr-outline-out">My Work</button>
    </a>
  </div> <!-- .container -->
</section> <!-- .greeting -->
<section id="interior-tron">
  <div class="container">
    <h4>Interior Design</h4>
    <p>Need some help finding that perfect personality for your space?</p>
    <p>Sometimes it can be hard to find exactly what you need to compliment your vision. Let me tie it together for you!</p>
  </div> <!-- .container -->
</section> <!-- .interior-tron -->
<section id="event-tron">
  <div class="container">
    <h4>Wedding & Event Planning</h4>
    <p>From the beginning of planning to the end you'll enjoy every moment in peace knowing I have your wedding under control.</p>
  </div> <!-- .container -->
</section> <!-- .event-tron -->
<section id="question-tron">
  <div class="container">
    <h4>Questions?</h4>
    <p>I’d be happy to help you with your little adventures and stuff.</p>
    <p>Let’s have some coffee and talk!</p>
    <a href="/Contact">
      <button class="btn hvr-outline-out">Let's Chat</button>
    </a>
  </div> <!-- .container -->
</section> <!-- .question-tron -->
<%= render "partials/short_footer" %>
