<p>Kevin loved his new house, but he found it a bit bland as he had no idea how to begin decorating it.</p>
<p>Now he has one of the best spaces ever! He watches Netflix in his sweatpants on a daily basis in comfort.</p>
