<%= render "partials/navigation_bar" %>
<h1 class="thanks title">Thanks!</h1>
<div class="thanks container">
  <p class="thanks themed">Your message was sent directly to Tara and she'll be with you as soon as possible.</p>
  <a href="/" class="thanks themed">Take me Home</a>
</div> <!-- .container -->
<%= render "partials/extended_footer" %>
