// Place all the styles related to the manage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*  manage.css.scss
    July 2015
    Tara Crammer Designs
    Alexander Rhett Crammer  */

/* Structure */
body {
  background: image-url("ManageBackground.jpg") no-repeat fixed center center;
  background-size: cover;
}

.column {
  float: left;
  margin: 2.5%;
  width: 45%;
}

/* Create View */
input, textarea {
  background-color: transparent;
  border: 0;
  color: #383838;
  resize: none;
  text-align: center;
}

.post-title {
  width: 100% !important;
}

.post-tags {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.35px;
  padding: 2.5% 0;
  text-align: left;
  text-indent: 6.5%;
  width: 100%;
}

.post-image-title {
  color: #3c3c3c;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  padding: 5% 0;
  text-align: left;
}

.white-background {
  background-color: rgba(255,255,255,0.5);
}

.shoo-message {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 2em;
  margin-top: 15%;
  text-align: center;
}

.red-border {
  border: 3px solid rgba(255,0,0,0.5);
  width: 99% !important;
}

/* Sign-in Form */
.sign-in-form h4 {
  color: #DD10B2;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1.25em;
  letter-spacing: 0.5px;
  text-align: center;
}

.sign-in-form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 10%;
  z-index: 1;
}

.sign-in-form input:not([type="submit"]) {
  background-color: rgba(245, 245, 245, 0.75);
  border: 2px solid #D7D7D7;
  border-radius: 7.5px;
  display: block;
  font-family: "Georgia", serif;
  font-size: 1em;
  font-style: italic;
  letter-spacing: 0.75px;
  margin: 5% auto;
  padding: 2.25% 5%;
}

.sign-in-form input[type="password"] {
  letter-spacing: 7.5px;
}

.sign-in-form input[type="submit"] {
  border-color: #EC81D6;
  display: block;
  padding: 2% 5%;
  margin: auto;
}

.sign-in-form input[type="submit"]:hover {
  background-color: #F9A5E7;
  border-color: #EC81D6;
}

.sign-in-form input[type="submit"]:active {
  background-color: #993885;
  border-color: #A84393;
}
