/*  my_work.css.scss
    July 2015
    Tara Crammer Designs
    Alexander Rhett Crammer  */

/* Structure */
body {
  background: image-url("PortfolioMainBackground.jpg") no-repeat fixed center center;
  background-size: cover;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

/* Content */
h1 span {
  letter-spacing: -0.125em; /* Pull the o closer to the w. */
}

/* News */
section.post {
  border: 0;
  height: 350px;
  margin: 2.5% auto;
  overflow: hidden;
}

section.imageless {
  height: 250px;
}

section.post:first-of-type {
  margin-top: 10%;
}

section.post:last-of-type {
  margin-bottom: 10%;
}

.post .left {
  float: left;
  margin-top: 2.5%;
  width: 46.5%;
}

.post .right {
  float: right;
  overflow: visible;
  text-align: center;
  width: 46.5%;
}

.imageless {
  width: 75%;
}

.post header {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 2.5%;
  margin-left: 25%;
  margin-bottom: 2.25%;
  letter-spacing: 0.25px;
  line-height: 125%;
  text-align: right;
  width: 75%;
}

.imageless header {
  margin: auto;
  text-align: center;
}

.post:nth-of-type(2n+0) header {
  margin-left: 0;
  margin-right: 25%;
}

.post:nth-of-type(1n+0) header, .post:nth-of-type(1n+0) a {
  color: #fe0e4f !important;
}

.post:nth-of-type(2n+0) header, .post:nth-of-type(2n+0) a {
  color: #6fce8a !important;
}

.post:nth-of-type(3n+0) header, .post:nth-of-type(3n+0) a {
  color: #47b0d3 !important;
}

.post p {
  color: #646464;
  float: right;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 175%;
  margin: 0;
  text-align: right;
  text-transform: none;
  width: 75%;
}

.imageless p {
  float: none;
  margin: 2.5% auto;
  text-align: center;
}

.post a {
  color: inherit;
  display: block;
  float: right;
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin: 5% auto;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.imageless a {
  margin: 0;
  text-align: center;
}

.post a span {
  font-family: "Georgia", serif;
  vertical-align: 10%;
}

.post img {
  background-size: cover;
  position: relative;
  top: -45px;
  padding: 15%;
  width: 360px;
}

.post:nth-of-type(1n) img {
  background-image: image-url("PortfolioBackgrounds/Pink.png");
}

.post:nth-of-type(2n) img {
  background-image: image-url("PortfolioBackgrounds/Green.png");
}

.post:nth-of-type(3n) img {
  background-image: image-url("PortfolioBackgrounds/Blue.png");
}

/* Opposite Orientation */
.post:nth-of-type(2n+0) .left {
  float: right;
}

.post:nth-of-type(2n+0) .left * {
  float: left;
  text-align: left;
}

.post:nth-of-type(2n+0) .left span {
  float: none;
}

.post:nth-of-type(2n+0) .right {
  float: left;
  text-align: center;
}
