/*  my_work.css.scss
    July 2015
    Tara Crammer Designs
    Alexander Rhett Crammer  */

/* Structure */
body {
  background: image-url("PortfolioMainBackground.jpg") no-repeat fixed center center;
  background-size: cover;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

/* Content */
h1 span {
  letter-spacing: -0.125em; /* Pull the o closer to the w. */
}

/* News */
section.post {
  border: 0;
  height: 350px;
  margin: 2.5% auto;
  overflow: hidden;
}

section.imageless {
  height: 250px;
}

section.post:first-of-type {
  margin-top: 10%;
}

section.post:last-of-type {
  margin-bottom: 10%;
}

.post .left {
  float: left;
  margin-top: 2.5%;
  width: 46.5%;
}

.post .right {
  float: right;
  overflow: visible;
  text-align: center;
  width: 46.5%;
}

.imageless {
  width: 75%;
}

.post header {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 2.5%;
  margin-left: 25%;
  margin-bottom: 2.25%;
  letter-spacing: 0.25px;
  line-height: 125%;
  text-align: right;
  width: 75%;
}

.imageless header {
  margin: auto;
  text-align: center;
}

.post:nth-of-type(2n+0) header {
  margin-left: 0;
  margin-right: 25%;
}

.post:nth-of-type(1n+0) header, .post:nth-of-type(1n+0) a {
  color: #fe0e4f !important;
}

.post:nth-of-type(2n+0) header, .post:nth-of-type(2n+0) a {
  color: #6fce8a !important;
}

.post:nth-of-type(3n+0) header, .post:nth-of-type(3n+0) a {
  color: #47b0d3 !important;
}

.post p {
  color: #646464;
  float: right;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 175%;
  margin: 0;
  text-align: right;
  text-transform: none;
  width: 75%;
}

.imageless p {
  float: none;
  margin: 2.5% auto;
  text-align: center;
}

.post a {
  color: inherit;
  display: block;
  float: right;
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin: 5% auto;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.imageless a {
  margin: 0;
  text-align: center;
}

.post a span {
  font-family: "Georgia", serif;
  vertical-align: 10%;
}

.post img {
  background-size: cover;
  position: relative;
  top: -45px;
  padding: 15%;
  width: 360px;
}

.post:nth-of-type(1n) img {
  background-image: image-url("PortfolioBackgrounds/Pink.png");
}

.post:nth-of-type(2n) img {
  background-image: image-url("PortfolioBackgrounds/Green.png");
}

.post:nth-of-type(3n) img {
  background-image: image-url("PortfolioBackgrounds/Blue.png");
}

/* Opposite Orientation */
.post:nth-of-type(2n+0) .left {
  float: right;
}

.post:nth-of-type(2n+0) .left * {
  float: left;
  text-align: left;
}

.post:nth-of-type(2n+0) .left span {
  float: none;
}

.post:nth-of-type(2n+0) .right {
  float: left;
  text-align: center;
}

/* Media Queries */
@media only screen
  and (max-width: 768px) {
    /* 768px and thinner */
    
    /* Content */
    h1 {
      font-size: 3.75em;
      position: absolute;
      top: 5%;
    }
    
    /* Posts */
    section.post {
      margin: 25% auto !important;
      overflow: visible;
    }
    
    .post .left, .post .right {
      float: none !important;
      margin: 0 !important;
      margin-left: 7.5% !important;
      overflow: auto !important;
      width: 85% !important;
    }
    
    .post .right {
      overflow: hidden !important;
    }
    
    /* Post Content */
    .post * {
      float: none !important;
    }
    
    .post header {
      float: none !important;
      font-size: 1.35em !important;
      line-height: 175% !important;
      margin: 2.5% auto !important;
      text-align: center !important;
    }
    
    .post p {
      float: none !important;
      font-size: 0.9em !important;
      letter-spacing: 0.5px !important;
      margin-left: 15% !important;
      text-align: center !important;
      width: 70% !important;
    }
    
    .post a {
      text-align: center !important;
      width: 25%;
    }
    
    .post img {
      /* Position is relative */
      top: 2.5px;
      padding: 7.5%;
      width: 80.882352941%;
    }
    
    /* Pagination */
    .pagination {
      margin: 35% auto -15% !important;
    }
    
    /* Footer */
    footer {
      margin-top: 25%;
    }
    
    footer img:not([alt="Heart.png"]) {
      width: 7.5% !important;
    }
  }

@media only screen
  and (max-width: 512px) {
    /* 512px and thinner */
    
    /* Posts */
    #posts {
      position: relative;
      top: 50px;
    }
    
    /* Footer */
    footer img:not([alt="Heart.png"]) {
      width: 12.5% !important;
    }
  }
