// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*  posts.css.scss
    July 2015
    Tara Crammer Designs
    Alexander Rhett Crammer  */

/* Structure */
body {
  background: image-url("WatercolourSplash3.jpg") no-repeat fixed center center;
  background-size: cover;
}

.container {
  text-align: center;
  width: 80%;
}

/* Content */
h4, .post-header {
  font-family: "Jaapokki", sans-serif;
  font-size: 3em;
  line-height: 150%;
  margin: 2.5% auto;
  text-transform: uppercase;
  width: 75%;
}

span.date {
  font-size: 0.9em;
  letter-spacing: 0.5px;
}

p, .post-content {
  color: rgb(90, 90, 90);
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1em;
  letter-spacing: 0.25px;
  line-height: 200%;
  margin: 2.5% auto;
  width: 85%;
}

.post img {
  margin: 5% auto;
  min-width: 50%;
  max-width: 100%;
}

.post a {
  display: block;
  margin: 7.5% auto 2.5%;
}

/* Media Queries */
@media only screen
  and (max-width: 768px) {
    /* 768px and thinner */
    
    /* Content */
    h4, .post-header {
      width: 100%;
    }
  }

@media only screen
  and (max-width: 512px) {
    /* 512px and thinner */
    
    /* Content */
    .post h4 {
      width: 85%;
    }
    
    .post a {
      width: 35%;
    }
  }
