// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*  welcome.css.scss
    July 2015
    Tara Crammer Designs
    Alexander Rhett Crammer  */

/* Structure */
.container {
  padding-top: 15%;
  text-align: center;
}

/* Content */
p {
  color: #595959;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1.35em;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 225%;
  margin: 10% auto;
  text-transform: uppercase;
  width: 60%;
}

/* Trons */
#greeting-tron {
  background: image-url("SplashGreetingBackground.jpg") no-repeat fixed center center;
  background-size: cover;
}

#greeting-tron h4 {
  font-family: "Jaapokki";
  font-size: 7em;
  text-transform: uppercase;
}

#greeting-tron h4 span {
  color: #41cfd9;
}

#greeting-tron button {
  margin-bottom: 5%;
}

#interior-tron {
  background: image-url("SplashInteriorBackground.jpg") no-repeat fixed center center;
  background-size: cover;
}

#interior-tron h4 {
  font-family: "Luna";
  font-size: 3.25em;
  text-shadow: 3px 3px 0 white;
}

#event-tron {
  background: image-url("SplashEventBackground.jpg") no-repeat fixed center center;
  background-size: cover;
}

#event-tron h4 {
  font-family: "Darleston";
  font-size: 5em;
  text-shadow: 3px 3px 0 white;
}

#question-tron {
  background: image-url("SplashQuestionBackground.jpg") no-repeat fixed center center;
  background-size: cover;
}

#question-tron .container {
  padding: 10%;
}

#question-tron h4 {
  font-family: "Jaapokki";
  font-size: 5.5em;
  text-transform: uppercase;
  text-shadow: 3px 3px 0 white;
}

/* Buttons */
button.teal {
 border-color: #41cfd9;
}

button.teal:hover {
  background-color: #5BDEE7;
  border-color: #41cfd9;
}

button.teal:active {
  background-color: #21878E;
  border-color: #21878E;
}

/* Fonts */
@font-face {
  font-family: "Jaapokki";
  src: font-url('Jaapokki-Regular.eot');
  src: font-url('Jaapokki-Regular.eot') format('embedded-opentype'),
       font-url('Jaapokki-Regular.woff2') format('woff2'),
       font-url('Jaapokki-Regular.woff') format('woff'),
       font-url('Jaapokki-Regular.ttf') format('truetype'),
       font-url('Jaapokki-Regular.svg') format('svg');
}

@font-face {
  font-family: "Luna";
  src: font-url('Luna.eot');
  src: font-url('Luna.eot') format('embedded-opentype'),
       font-url('Luna.woff2') format('woff2'),
       font-url('Luna.woff') format('woff'),
       font-url('Luna.ttf') format('truetype'),
       font-url('Luna.svg') format('svg');
}

@font-face {
  font-family: "Darleston";
  src: font-url('Darleston.eot');
  src: font-url('Darleston.eot') format('embedded-opentype'),
       font-url('Darleston.woff2') format('woff2'),
       font-url('Darleston.woff') format('woff'),
       font-url('Darleston.ttf') format('truetype'),
       font-url('Darleston.svg') format('svg');
}
